<!-- <section id="login" class="login-section">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-title">Login</div>
    <div class="tab">
      <label for="emailOrNumber">
        Email / Whatsapp Number
      </label>
      <input type="text" id="emailOrNumber" name="emailOrNumber" required [(ngModel)]="user.emailOrNumber" oninput="this.className = ''">
    </div>
    <div class="tab">
      <label for="otp">
        OTP
      </label>
      <input type="text" id="otp" name="otp" required [(ngModel)]="user.otp" oninput="this.className = ''">
    </div>
  </form>
  <div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  <div class="newUser">
    <span>Don't have an Account?</span>
    <a href="/register">Sign Up</a>
  </div>
</section> -->
