<section id="network" class="network-section">
  <div class="page-title">Network Architecture</div>

  <div class="content-wrapper">
    <img src="../../assets/Gust-Network-Arch.png" alt="Gust Network Architecture">
  </div>
  <!-- <div class="wrapper first">
    <h1 class="card-title">Smart Contracts</h1>
    <div class="row">
      <div class="inner-wrapper">
        Gustavo
      </div>
      <div class="connector"></div>
      <p><i class="arrow right"></i></p>
      <div class="inner-wrapper">Gustbyte Intepretor</div>
    </div>
  </div>
  <div class="wrapper second">
    <h1 class="card-title">Gust Blockchain</h1>
    <div class="row">
      <div class="inner-wrapper">
        GustVM
      </div>
      <div class="inner-wrapper">
        Gust Blockchain
      </div>
      <div class="connector"></div>
      <div class="inner-wrapper">Validators</div>
    </div> -->
  <!-- </div> -->
</section>
